- var cdn = cdn || "";

h1.blog-logo
  a(href="/", title="Home")
    img(src=cdn+"/img/logo.png")

nav#blog-header-nav
  ul.nav-list
    li <a href="/list" class="nav-item hover-lighten" title="posts">Posts</a>
    li <a href="/photography" class="nav-item hover-lighten" title="photography">Photography</a>
    li <a href="/about" class="nav-item hover-lighten" title="about">About</a>