extends ../common/layout.pug

block title
	title 关于我
	meta(name="keywords", content="关于我, about me")
	meta(name="description", content="all things you need to know about me")

block main
	include ./about.html