#carousel
  width 100%
  height 450px
  position relative
  overflow hidden
  .slides
    display block
    width 100%
    height 100%
    position relative
    overflow hidden
    .slide
      position absolute
      width 100%
      height 100%
      top 0px
      background-size cover
      background-position center
      background-repeat no-repeat
      .text-wrapper
        position absolute
        padding 24px 48px
        background rgba(0,0,0,.38)
        color #fff
        right 15%
        bottom 20%
        h3
          font-size 36px
          font-weight bold
          line-height 2em
        strong
          line-height 2em
          font-size 24px
          letter-spacing 1px

  .left-btn, .right-btn
    position absolute
    top 50%
    transform translateY(-50%)
    width 48px
    height 48px
    font-size 32px
    background transparent
    color rgba(0,0,0,.54)
    text-align center
    border-radius 50%
    transition all .5s
    justify-content center
    cursor pointer
    &:hover
      background rgba(0,0,0,.54)
      color rgba(255,255,255,.9)
  .left-btn
    left 16px
    span
      position relative
      top -2px
      right 1px
  .right-btn
    right 16px
    span
      position relative
      top -2px
      left 2px
  .index-dot
    position absolute
    bottom 12px
    left 50%
    transform translateX(-50%)
    background transparent
    justify-content center
    .dot
      width 10px
      height 10px
      border-radius 50%
      margin 0 8px
      background rgba(0,0,0,.54)
      transition all .5s
      cursor pointer
      &.active, &:hover
        background rgba(255,255,255,.9)

@media (max-width: 600px)
  .text-wrapper
    width 90% !important
    right 5% !important