@import 'common/_typography'

.posts-list
  typo-article()
  .post-item
    margin-bottom: 32px;
    .post-hd
      color: #555
      .title
        font-size: 24px
        font-family: $SerifFont

  .cover
    width: 100%
    overflow: hidden
    position: relative
    display: block
    margin: 12px
    background: transparent
    cursor: pointer
    transition: opacity 1s
    &:before
      content: ""
      display: block
      height: 0px
      position: relative
      width: 100%
      padding-top: 30%
      background: transparent
      transform: none
    &:hover:before
      transform: none
    img
      display: block
      width: 100%
      position: absolute
      top: 50%
      left: 0px
      transform: translateY(-50%)
  .description
    color: rgba(0,0,0,.54)
    margin-top: .5em

.pagination
  margin-top: 2em
  border-top: 1px solid #ccc
  padding: 2em 0 2em
  position: relative
  justify-content: space-between
  align-items: center
  text-align: left
  font-family: $SansSerifFont
  display: flex
  flex-flow: row nowrap
  .next, .prev
    display: inline-block
    flex-grow: 1
  .next
    text-align: right
  a
    underline()
    position: relative
    font-size: 18px
