.blog-logo
    font-size: 30px
    margin: 0
    font-weight: bold
    position: fixed
    left: 24px
    top: 8px
    width: 48px
    height: 48px
    z-index: 100

#blog-header-nav
    z-index: 100
    visibility: visible
    position: fixed
    top: 1em
    right: 2em
    font-size: 13px
    text-align: right
    vertical-align: top
    .nav-list
        display: inline-block
        margin-bottom: 1em
        list-style-type: none
        margin: 0
        padding: 0
        li
            outline: 0
            margin: 0.2em
            padding: 0
            position: relative
            display: inline-block
            &:first-child:before
                display: none
            &:before
                content: '·'
                margin-right: 0.4em